@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Cabin:ital,wght@0,400..700;1,400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap'); /*Roboto*/

body {
    margin: 4rem;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    height: 90vh;
    background-attachment: fixed;
}

#titulo {
    font-family: "Bebas Neue";
    text-align: center;
    margin-top: -55px;
}

#menu {
    display: flex;
    flex-direction: row;
}

ul {
    margin-right: 8rem;
}

li {
    margin-left: 4rem;
    font-family: "Roboto Condensed";
    list-style: none;
    border: transparent;
    padding: 8px;
}

li:hover {
    background-color: gray;
    cursor: pointer;
}

.nome {
    font-family: Cabin, sans-serif;
    font-size: 70px;
    margin-bottom: 10px;
}

.botao-head {
    font-family: "Roboto Condensed";
    text-decoration: none;
    color: white;
    background-color: rgb(59, 112, 255);
    padding: 8px;
}

.slogan {
    font-family: Cabin, sans-serif;
    font-weight: bolder;
    font-size: 20px;
}

header {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: 4rem;
}

