@charset "utf-8";

@media screen and (max-width: 1200px) {
    .grid-container {
        grid-template-columns: 1fr;
        height: 80%;
        width: 90%;
        max-width: 500px;
    }

    .signup-tab {
        display: none;
    }

    #signup-querie {
        display: block;
    }
}