@charset "utf-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    padding: 10px;
}

.container {
    display: grid;
    grid-template: repeat(3, 100px) / repeat(4, 1fr);
    gap: 10px;
}

.item1, .item2, .item3 {
    background-image: linear-gradient(34deg, lightcoral, lightgreen);
    display: flex;
    justify-content: center;
    align-items: center;
}

.item1 {
    grid-row-start: 1;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 3;
}

.item2 {
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 3;
    grid-column-end: 5;
}

.item3 {
    grid-column-start: 3;
    grid-column-end: 5;
}