@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&display=swap');

* {
    font-family: "Cabin", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*::selection {
    background-color: black;
    color: white;
}

html, body {
    height: 100%;
}

body {
    background-image: radial-gradient(circle, #303659, #0D1126);
    background-attachment: fixed;
    text-align: center;
}

.titulo {
    color: white;
    font-size: 30px;
    padding: 2rem;
}

.pedro {
    object-fit: cover;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    border-radius: 50%;
    max-width: 200px;
    min-height: 200px;
    
}

a {
    text-decoration: none;
    color: white;
}

ul {
    list-style: none;
}

.links {
    margin-top: 20px;
}

#pedro {
    margin-top: 20px;
}

.card {
    background-color: white;
    max-width: 500px;
    text-align: center;
    border-radius: 30px;
    margin: 2rem auto;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

.conteudo {
    padding: 3rem;
}

li {
    padding: 0.01rem;
    margin: 0;
}

#insta, #tik, #twit {
    background-color: #686D8C;
    padding: 1rem;
    border-radius: 20px;
    font-weight: 600;
    margin: 10px auto;
    display: block;
    width: 80%;
    max-width: 900px;
    transition: background-color 0.2s ease;
}

#insta:hover, #tik:hover, #twit:hover {
    background-color: #3e425a;
    transition: 0.2s;
}

.verificado {
    position: absolute;
    left: -2px;
    top: 3px;

}

