@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --letra: rgb(233, 233, 233);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    height: 120px;
    padding: 0.75rem;
    background-color: white;
    display: flex;
    justify-content: center;
}

.header-logo {
    width: 7rem;
}

.header-logo img {
    width: 100%;
}

.main-intro {
    color: rgb(233, 233, 233);
    font-size: 40px;
    font-family: Cabin, sans-serif;
    width: 500px;
}

.main-container {
    background-image: url(https://img.freepik.com/free-photo/black-smooth-textured-surface-background_53876-160606.jpg);
    height: calc(100vh - 120px);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    padding: 1rem;
}

.foto-coutinho {
    width: 500px;
    background-color: white;
    padding: 2rem;
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
    box-shadow: inset 0px 0px 15px rgba(0, 0, 0, 0.397);
    object-fit: cover;
}

.foto-coutinho img {
    width: 100%;
    object-fit: contain;
    background-image: url(https://png.pngtree.com/png-clipart/20220716/ourmid/pngtree-brazil-colorful-brush-flag-independence-png-image_5981474.png);
    background-repeat: no-repeat;
    background-position: center left;
}

.text {
    padding-top: 4rem;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.text h1 {
    font-family: Cabin, sans-serif;
    font-size: 40px;
    margin-bottom: 1.5rem;
}

.text-content {
    width: 1000px;
}

.pcontent-text {
    font-family: Roboto, sans-serif;
    line-height: 28px;
    font-size: 20px;
    margin-bottom: 4rem;
}

.cont-escalacao {
    width: 100%;
}

.escalacao-fundo {
    background-color: lightgrey;
    padding: 1rem;
}

.jogadores {
    margin-top: 2rem;
}

.player-card {
    background-color: white;
    border-radius: 20px;
    width: 300px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.363);
}

.player-card h2 {
    font-family: Cabin, sans-serif;
    text-align: center;
    margin: 1rem;
    padding-bottom: 1rem;
}

.player-card img {
    border-radius: 50%;
    width: 100%;
}

.player-foto-cont {
    padding: 0.5rem;
    width: 300px;
}

#vasco {
    color: #1F81C8;
}

#escalacao {
    margin-top: 2rem;
    font-family: Cabin, sans-serif;
}